.mission-container {
  background-color: #f7f7f7; /* Light gray background */
  padding: 50px 30px;
  border-radius: 15px;
  max-width: 1200px;
  margin: 50px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mission-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; /* Dark text color */
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.mission-text {
  font-size: 1.2rem;
  color: #555; /* Slightly lighter text color */
  line-height: 1.6;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.mission-text:before {
  content: "“"; /* Adds a quote mark before the text */
  font-size: 3rem;
  color: #ccc; /* Light gray */
  position: absolute;
  top: -20px;
  left: 20px;
}

.mission-text:after {
  content: "”"; /* Adds a quote mark after the text */
  font-size: 3rem;
  color: #ccc; /* Light gray */
  position: absolute;
  bottom: -20px;
  right: 20px;
}
