@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-family: "Poppins", sans-serif;
  /*padding: 1rem;*/
}

/*
@media (min-width: 640px) {
  main {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 3rem;
  }
}
*/

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark mode background */
  border-radius: 10px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #f39c12, #e74c3c); /* Gradient color */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #e67e22, #c0392b);
}
